<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Finch</title>
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/master.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
	    $(function() {
	      $('a#test').bind('click', function() {
	        $.getJSON('/reimburse',
	            function(data) {
	          console.log(data)
	        });
	        return false;
	      });
	    });
	</script>
</head>

<body>
	<div style="height: 100px;"></div>
	<div id="table-wrapper">
		<table id="immigrant-table">
		  <tr id="header">
		    <th>Name</th>
		    <th>Alien ID</th>
		    <th>Date of Birth</th>
			<th>Country of Birth</th>
			<th>Detention Center</th>
			<th>Spoken Language</th>
			<th>Written Language</th>
			<th>Previous Counsel</th>
		  </tr>
		  {% for immigrant in immigrants %}
		  <tr id="content">
			<td>{{immigrant["name"]}}</td>
	  	    <td>{{immigrant["alien_id"]}}</td>
	  	    <td>{{immigrant["date_of_birth"]}}</td>
	  		<td>{{immigrant["country_of_birth"]}}</td>
	  		<td>{{immigrant["detention_center"]}}</td>
	  		<td>{{immigrant["spoken_language"]}}</td>
	  		<td>{{immigrant["written_language"]}}</td>
	  		<td>{{immigrant["previous_represented_by_lawyer"]}}</td>
			<!-- <button id='xpringButton' class='immigrant-btn'>Accept Job</button> -->
			<td><a href=# id=test><button class='immigrant-btn'>Accept Job</button></a></td>
		  </tr>
		  {% endfor %}
		</table>
	</div>
</body>

</html>
